{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Base_site</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script>
        document.addEventListener('DOMContentLoaded', function () {
                const movieSlug = "{{ movie.slug|default:'' }}"; 
            if (!movieSlug) {
                console.error("Movie slug is missing. Cannot proceed.");
                return; // nie wykonuj jak sie nie da
            }

            console.log("Movie slug:", movieSlug);

            const addReviewBtn = document.getElementById('add-review-btn');
            const reviewFormDiv = document.getElementById('review-form');
            const reviewForm = document.getElementById('review-form-data');

            // pokaż formularz po kliknięciu przycisku
            if (addReviewBtn) {
                addReviewBtn.addEventListener('click', function () {
                    reviewFormDiv.style.display = 'block';
                });
            }

            // obsluga przesylania formularza
            if (reviewForm) {
                reviewForm.addEventListener('submit', function (event) {
                    event.preventDefault();

                    const formData = new FormData(reviewForm);
                    const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;

                    fetch(`/movie/${movieSlug}/create-review/`, { // Dynamicznie generowany URL
                        method: "POST",
                        body: formData,
                        headers: {
                            'X-CSRFToken': csrfToken,
                        },
                    })
                        .then(response => response.json())
                        .then(data => {
                            if (data.success) {
                                alert("Review added successfully!");
                                location.reload(); // Przeładuj stronę po pomyślnym dodaniu recenzji
                            } else {
                                alert("Failed to add review. Please fix the errors.");
                                console.error(data.errors);
                            }
                        })
                        .catch(error => console.error("Error:", error));
                });
            }
         });

        document.addEventListener('DOMContentLoaded', function () {
            const deleteButtons = document.querySelectorAll('.delete-review-btn');
            const editButtons = document.querySelectorAll('.edit-review-btn');
            const editForm = document.getElementById('edit-review-form');
            const editFormElement = document.getElementById('review-edit-form');

            // usuwanie review
            deleteButtons.forEach(button => {
                button.addEventListener('click', function () {
                    const reviewId = this.dataset.reviewId;
                    const deleteUrl = this.dataset.deleteUrl;

                    if (confirm('Are you sure you want to delete this review?')) {
                        fetch(deleteUrl, {
                            method: 'DELETE',
                            headers: {
                                'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value,
                            },
                        })
                            .then(response => {
                                if (response.ok) {
                                    document.getElementById(`review-${reviewId}`).remove();
                                    alert('Review deleted successfully!');
                                } else {
                                    alert('Failed to delete the review.');
                                }
                            })
                            .catch(error => console.error('Error:', error));
                    }
                });
            });

            // edytowanie recenzji
            editButtons.forEach(button => {
                button.addEventListener('click', function () {
                    const reviewId = this.dataset.reviewId;
                    const editUrl = this.dataset.reviewUrl;

                    fetch(editUrl)
                        .then(response => response.json())
                        .then(data => {
                            if (data.success) {
                                editForm.style.display = 'block';
                                editFormElement.action = editUrl;

                                const ratingInput = document.querySelector('#id_rating');
                                const textInput = document.querySelector('#id_review_text');
                                if (ratingInput) ratingInput.value = data.review.rating;
                                if (textInput) textInput.value = data.review.review_text;
                            } else {
                                alert('Failed to load review for editing.');
                            }
                        })
                        .catch(error => console.error('Error:', error));
                });
            });

            // zapisywanie edytowanej review
            editFormElement.addEventListener('submit', function (event) {
                event.preventDefault();

                fetch(this.action, {
                    method: 'POST',
                    body: new FormData(editFormElement),
                    headers: {
                        'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value,
                    },
                })
                    .then(response => response.json())
                    .then(data => {
                        if (data.success) {
                            alert('Review updated successfully!');
                            location.reload(); // reload
                        } else {
                            alert('Failed to update the review.');
                        }
                    })
                    .catch(error => console.error('Error:', error));
            });
        });

    </script>
</head>
<body>
    <header>
        <nav>
            <div class="navbar-user">
                {% if request.user.is_authenticated %}
                    <button onclick="toggleDropdown()">Hello, {{ request.user.username }}</button>
                    <div class="navbar-user-dropdown">
                        <a href="{% url 'home' %}">Home</a>
                        <a href="{% url 'logout' %}">Logout</a>
                        <a href="{% url 'your_reviews' %}">Your Reviews</a>
                    </div>
                {% else %}
                    <button onclick="toggleDropdown()">Menu</button>
                    <div class="navbar-user-dropdown">
                        <a href="{% url 'home' %}">Home</a>
                        <a href="{% url 'login' %}">Login</a>
                        <a href="{% url 'register' %}">Register</a>
                    </div>
                {% endif %}
            </div>
            <div class="navbar-center">
                <a href="{% url 'home' %}" class="navbar-logo">MovieReviews</a>
            </div>
            <form class="search-form" method="get" action="{% url 'search_results' %}">
                <label>
                    <input type="text" name="query" placeholder="🔍 Search...">
                </label>
                <button type="submit">Search</button>
            </form>
        </nav>
    </header>
    {% block content %}
    {% endblock content %}
    <footer>
        <hr>
        <p>MovieReviews, 2025 | misiek420</p>
    </footer>
    <script>
        function toggleDropdown() {
            const userMenu = document.querySelector('.navbar-user');
            userMenu.classList.toggle('active');
        }
    </script>
</body>
</html>